Django==1.11.20
django-cors-headers==2.5.2
django-filter==2.0.0
djangorestframework==3.9.1
djangorestframework-jwt==1.11.0
redis==3.2.1
PyYAML==3.10
pymongo==3.10.0
configparser==3.7.4
requests==2.6.0
requests-oauthlib==1.2.0
Jinja2==2.10.1